
@{
    ViewData["Title"] = "NotFound";
}

    <div class="text-center">
        <h1>The page you are looking for is not found! :(</h1>
        <h2><a asp-controller="Cars" asp-action="index">Go check out other ads!</a></h2>
    </div>
